<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SalesApp.Properties.Settings>
            <setting name="Item_Qty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Item_BuyPrice" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Item_Discount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceRequired" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PricePaid" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PriceRest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChekButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Item_SalePrice" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pro_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Pro_Price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pro_Barcode" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="USerType" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="SalePrintNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BuyPrintNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SaleDiscountForCasher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SalesPrint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuyPrint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SalePrintKind" serializeAs="String">
                <value>8CM</value>
            </setting>
            <setting name="BuyPrintKind" serializeAs="String">
                <value>8CM</value>
            </setting>
        </SalesApp.Properties.Settings>
    </userSettings>
</configuration>